<div class="container">
    <button type="button" class="btn btn-primary addbtn">Add Todo</button>
    <br>
    {{#each todos}}
        <div class="container-fluid cont d-flex justify-content-center">
            <h4>{{text}} <button type="button" class="btn btn-success"  class="btn btn-primary" data-toggle="collapse" href="#recipe_{{id}}" role="button" aria-expanded="false" aria-controls="recipe_{{id}}">
                <i class="fa fa-sort-desc" aria-hidden="true"></i>
            </button></h4>
        </div>
    {{/each}}
</div>